html{
  width: 100%;
  height: 100%;
  text-align: center;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-weight: 200;
  font-size: 1.5em;
  /*background-image: url(road-bw.jpg);
  background-size: cover;*/
  /*background-repeat: no-repeat;*/
  display: flex;
  justify-content: center;
  /*align-: center;*/
  overflow-y: hidden;
  overflow-x: hidden;
}

html *{
  /*border: 1px solid red;*/
}

body{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  /*border: 1px blue solid;*/
  /*vertical-align: middle;*/
}

main{
  /*border: 1px blue solid;*/
  /*border: 1px solid green;*/
  /*margin-top: 0;*/
  height: auto;
  /*max-height: 90%;*/
  /*display: flex;
  flex-direction: column;*/
  /*align-items: space-between;*/
  /*padding-bottom: 2em;*/
}

h1{
  font-family: 'Permanent Marker', cursive;
  /*font-family: 'Permanent Marker', cursive;*/
  font-size: 150px;
  margin-bottom: 0px;
  margin-top: auto;
  position: relative;
  text-align: center;
  background-color: transparent;
  z-index: 100;
  color: black;
  text-shadow: 4px 4px 20px white;
  /*border: 1px solide red;*/
}

h2{
  font-family: 'Oswald', sans-serif;
  font-size: 40px;
  margin-top: auto;
}

h3{
  font-family: 'Oswald', sans-serif;
  font-size: 1.5em;
  margin-bottom: auto;
  border-bottom: 1px solid white;
  width: 50%;
}

h4{
  font-family: 'Oswald', sans-serif;
  font-size: 1em;
  margin-bottom: 0;
  margin-top: .75em;
}

h5{
  font-family: 'Oswald', sans-serif;
  margin-top: auto;
  font-weight: 200;
  font-size: 1em;
  margin-bottom: .75em;
}

p{
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-weight: 200;
}

.index{
  text-align: center;
  /*vertical-align: middle;*/
  margin-top: 53px;
  /*padding-top: 0px;*/
  /*border: blue;*/
  display: flex;
  flex-direction: column;
  /*justify-content: stretch;*/
  /*align-items: space-between;*/
  /*height: 60%;*/
  /*align-content: ;*/
  position: relative;
  z-index: 100;
  /*bottom: auto;*/
}

.index *{
  /*border: 1px solid red;*/
}
#testtrips{
  width: 40%;
  display: flex;
  flex-direction: row;
  /*border: 1px red solid;*/
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
}

.textbox{
  height: auto;
  max-width: 5em;
  text-align: center;
  font-size: 3em;
  background-color: transparent;
  color: white;
  border: none;
  /*border: 1px solid blue;*/
  font-family: 'Oswald', sans-serif;
}

.textbox:focus{
  outline: none;
  border-bottom: 3px solid white;
}

#origintextbox{
  margin-right: auto;
  /*text-align: right;*/
}
#destinationtextbox{
  margin-left: auto;
  /*text-align: left;*/
}

form{
  /*border: 1px solid red;*/
  /*display: flex;
  flex-direction: row;
  align-content: stretch;*/
  /*background-color: rgba(255, 255, 100, 0.5);*/
}

button{
  font-family: 'Oswald', sans-serif;
  height: 45px;
  width: 180px;
  border: 5px solid black;
  background-color: transparent;
  border-style: double;
  border-radius: 20px;
  font-size: 20px;
}

button:hover{
  background-color: rgba(255, 255, 255, 0.3);
}

.show{
  height: auto;
  /*max-height: 100%;*/
  width: 100%;
  /*border: 2px black solid;*/
  display: flex;
  flex-direction: row;
  margin-top: auto;
  padding-top: 0px;
  padding-bottom: 5px;
  /*border: 1px solid yellow;*/
  position: absolute;
  z-index: 100;
  background-color: rgba(255, 255, 255, 0.5);
}

.homeButton{
  /*margin-top: auto;*/
  /*margin-bottom: 30px;*/
  /*position: fixed;*/
  bottom: 0;
  /*right: 50%;*/
  /*margin-left: auto;
  margin-right: auto;*/
  /*vertical-align: bottom;*/
  position: relative;
}

#tripcontainer{
  /*border: 5px white solid;*/
  width: 50%;
  /*height: auto;*/
  max-height: 40%;
  /*overflow-y: scroll;*/
  margin-left: 10px;
  margin-right: 10px;
  padding: 8px;
  /*margin-top: auto;*/
  padding-top: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#tunescontainer{
  /*border: 5px white solid;*/
  width: 50%;
  max-height: 50%;
  /*max-height: 50%;*/
  overflow-y: scroll;
  margin-left: 10px;
  margin-right: 10px;
  padding: 8px;
  /*margin-top: auto;*/
  /*padding-top: 0px;*/
  display: flex;
  flex-direction: column;
  align-items: center;
}

ul{
  list-style: none;
  margin-top: 1px;
  margin-bottom: 1px;
}

a{
  text-decoration: none;
  color: inherit;
  height: auto;
  overflow-y: scroll;

}

#list{
  /*max-height: 50%;*/
  /*margin-top: 0px;*/
  height: 400px;
  overflow: scroll;
}

.tripendpoints{
  display: flex;
  flex-direction: row;
  min-width: 50%;
  max-width: 100%;
  justify-content: space-between;
  /*text-align: center;*/
  /*align-content: */
  /*border: 1px solid red;*/

}

.tripEndpointTitles{
  /*font-weight: 700;*/
  font-size: .75em;
  font-family: 'Oswald', sans-serif;
}

.triporigin{
  text-align: left;
}

.tripdest{
  text-align: right;
}

/* video background */

.homepage-hero-module {
    border-right: none;
    border-left: none;
    position: relative;
}
.no-video .video-container video,
.touch .video-container video {
    display: none;
}
.no-video .video-container .poster,
.touch .video-container .poster {
    display: block !important;
}
.video-container {
    position: absolute;
    bottom: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    /*border: 1px solid red;*/
    overflow: hidden;
    /*background: #000;*/
}
.video-container .poster img {
    width: 100%;
    bottom: 0;
    position: absolute;
}
.video-container .filter {
    /*z-index: 100;*/
    position: absolute;
    background: rgba(0, 0, 0, 0.4);
    width: 100%;
}
.video-container video {
  /*position: absolute;
  z-index: 0;
  bottom: 0;*/
  /*border: 1px solid red;*/
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  transform: translateX(-50%) translateY(-50%);
   background: url('css/road-bw.jpg') no-repeat;
  background-size: cover;
  transition: 1s opacity;
}
.video-container video.fillWidth {
    width: 100%;
}
