<div class="index">

  <h2>The right music for your road trip.</h2>

  <div id="testtrips">
    <!-- <span ng-repeat="trip in vm.trips">
      <span> | {{trip.origin}} to {{trip.destination}} | </span>
    </span> -->
    <!-- <p>
      Where are you going?
    </p> -->
  </div>
  <br>
  <form id="newtripform" data-ng-submit="vm.create(user)" ng-controller="tripCtrl">
    <input class="textbox" id="originTextbox" type="text" name="origin" placeholder="Start" data-ng-model="user.origin">
    <input class="textbox" id="destinationTextbox" type="text" name="destination" placeholder="End" data-ng-model="user.destination">
    <br>
    <br>
    <br>
    <div class="buttoncontainer">
      <button type="submit">Vroom</button>
    </div>

  </form>

</div>
